<html>
<head>
    <meta charset="utf-8" />
    <title>Game Library</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>
        Welcome to game Library
    </h1>

    <menu>
        <ul>
            <li><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            <li><a asp-controller="App" asp-action="AboutUs">About</a></li>
        </ul>
    </menu>
    @RenderBody()
</body>
</html>