@model ContactViewModel
@{ 
    ViewBag.Title = "Contact Us";
}

Hello from Contact
<br />

<form method="post">
    <label asp-for="Name">First name:</label><br>
    <input type="text" asp-for="Name"><br>
    <label asp-for="Email">Last name:</label><br>
    <input type="text" asp-for="Email"><br><br>

    <label asp-for="message">Feedback:</label><br>
    <input type="text" asp-for="message"><br><br>
    <input type="submit" value="Submit">
</form>